In [1]:
start = '2018-01-22'
end = '2021-04-22'
ticker = 'AMZN'
index_ticker = '^DJI'

In [2]:
import gmbp_quant.common.utils.notebook_utils as nbu
nbu.set_width_global()
nbu.disable_auto_scroll()
import gmbp_quant.common.env_config as ecfg

import matplotlib.pyplot as plt
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
import pandas_datareader.data as web

import pandas as pd
pd.options.display.width = 1000
pd.options.display.max_colwidth = 1000
pd.options.display.max_columns = 1000

### Stooq Index Data

In [3]:
idx_data = web.DataReader(name=index_ticker, data_source='stooq', start=start, end=end)
idx_data.tail()

                Open      High       Low     Close     Volume
Date
2018-01-26  26466.74  26616.71  26425.35  26616.71  477746682
2018-01-25  26313.06  26458.25  26259.72  26392.79  401421807
2018-01-24  26282.07  26392.80  26106.94  26252.12  518877442
2018-01-23  26214.87  26246.19  26143.90  26210.81  433543387
2018-01-22  26025.32  26215.23  25974.65  26214.60  431171255

### Nasdaq Trader Symbol Definitions

In [4]:
symbols = get_nasdaq_symbols()
symbols.head()

        Nasdaq Traded                                                                            Security Name Listing Exchange Market Category    ETF  Round Lot Size  Test Issue Financial Status CQS Symbol NASDAQ Symbol  NextShares
Symbol
A                True                                                  Agilent Technologies, Inc. Common Stock                N                  False           100.0       False              NaN          A             A       False
AA               True                                                          Alcoa Corporation Common Stock                 N                  False           100.0       False              NaN         AA            AA       False
AAA              True                                       Listed Funds Trust AAF First Priority CLO Bond ETF                P                   True           100.0       False              NaN        AAA           AAA       False
AAAU             True                                                   Goldman Sachs Physical Gold ETF Shares                P                   True           100.0       False              NaN       AAAU          AAAU       False
AACG             True  ATA Creativity Global - American Depositary Shares, each representing two common shares                Q               G  False           100.0       False                N        NaN          AACG       False

### Alpha Vantage Stock Historical Data

In [5]:
# api_key = ecfg.get_env_config().get(ecfg.Prop.AV_API_KEY)
# stock_data = web.DataReader(name=ticker, data_source='av-daily-adjusted', start=start, end=end, api_key=api_key)
# stock_data.head()

### Alpha Vantage Stock Intraday Data

In [10]:
api_key = ecfg.get_env_config().get(ecfg.Prop.AV_API_KEY)
stock_data = web.DataReader(name=ticker, data_source='av-intraday', api_key=api_key, interval='1min')
stock_data.head()

TypeError: DataReader() got an unexpected keyword argument 'interval'

In [9]:
stock_data.tail()

                        open     high      low    close  volume
2021-01-11 19:15:00  3118.51  3118.51  3118.51  3118.51     241
2021-01-11 19:21:00  3119.74  3119.79  3119.74  3119.79     522
2021-01-11 19:23:00  3120.64  3120.64  3120.64  3120.64     446
2021-01-11 19:37:00  3122.50  3122.50  3122.50  3122.50     231
2021-01-11 19:58:00  3124.00  3124.00  3124.00  3124.00     121