In [3]:
pip install iexfinance

The following command must be run outside of the IPython shell:

    $ pip install iexfinance

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [7]:
pip install pandas

The following command must be run outside of the IPython shell:

    $ pip install pandas

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [2]:
import pandas as pd
import datetime

In [1]:
from iexfinance.stocks import get_historical_intraday

In [3]:
start = datetime.date(2021,7,26)

In [4]:
api_key='pk_a46d5aecc6674d019b4973b996213060 '

In [5]:
df = get_historical_intraday("MSFT",output_format='pandas',token='pk_a46d5aecc6674d019b4973b996213060')

/Users/miaoyuesun/anaconda3/lib/python3.5/site-packages/pandas/compat/_optional.py:106: UserWarning: Pandas requires version '2.6.2' or newer of 'numexpr' (version '2.6.1' currently installed).
  warnings.warn(msg, UserWarning)

In [6]:
df.sort_index().tail()

,average,close,date,high,label,low,notional,numberOfTrades,open,volume
2021-08-17 13:02:00,292.482,292.49,2021-08-17,292.54,1:02 PM,292.465,250949.58,15,292.465,858
2021-08-17 13:03:00,292.385,292.34,2021-08-17,292.48,1:03 PM,292.340,183033.04,9,292.480,626
2021-08-17 13:04:00,292.206,292.22,2021-08-17,292.29,1:04 PM,292.160,228213.03,15,292.190,781
2021-08-17 13:05:00,292.134,292.12,2021-08-17,292.17,1:05 PM,292.110,208875.48,13,292.150,715
2021-08-17 13:06:00,292.135,292.19,2021-08-17,292.19,1:06 PM,292.070,183168.66,6,292.070,627

In [3]:
print(df.head())

NameError: name 'df' is not defined