# python/pandas数据挖掘（十四）-groupby,聚合，分组级运算

https://blog.csdn.net/youngbit007/article/details/54288603

# Python中的groupby用法

https://blog.csdn.net/qq_43774897/article/details/89879002

In [ ]:
# 20200204:

import pandas as pd
import numpy as np
df = pd.DataFrame({'key1':list('aabba'),
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [3]:
df

      data1     data2 key1 key2
0  0.308371  0.708649    a  one
1 -0.335374  0.393052    a  two
2 -0.313663  0.902577    b  one
3 -0.244654  0.381960    b  two
4  1.499224  0.813785    a  one

In [4]:
grouped=df['data1'].groupby(df['key1'])
grouped.mean()

key1
a    0.490740
b   -0.279158
Name: data1, dtype: float64

In [6]:
df.groupby(['key1'])['data1'].mean()

key1
a    0.490740
b   -0.279158
Name: data1, dtype: float64

In [7]:
states=np.array(['Ohio','California','California','Ohio','Ohio'])
years=np.array([2005,2005,2006,2005,2006])
df['data1'].groupby([states,years]).mean()

California  2005   -0.335374
            2006   -0.313663
Ohio        2005    0.031859
            2006    1.499224
Name: data1, dtype: float64

In [8]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.490740  0.638496
b    -0.279158  0.642268

# 对分组进行迭代

In [10]:
df.groupby('key1')

In [9]:
for name, group in df.groupby('key1'):
    print (name)
    print (group)

a
      data1     data2 key1 key2
0  0.308371  0.708649    a  one
1 -0.335374  0.393052    a  two
4  1.499224  0.813785    a  one
b
      data1     data2 key1 key2
2 -0.313663  0.902577    b  one
3 -0.244654  0.381960    b  two

可以看出name就是groupby中的key1的值，group就是要输出的内容。
同理：

In [11]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print ('===k1,k2:')
    print (k1,k2)
    print ('===k3:')
    print (group)

===k1,k2:
a one
===k3:
      data1     data2 key1 key2
0  0.308371  0.708649    a  one
4  1.499224  0.813785    a  one
===k1,k2:
a two
===k3:
      data1     data2 key1 key2
1 -0.335374  0.393052    a  two
===k1,k2:
b one
===k3:
      data1     data2 key1 key2
2 -0.313663  0.902577    b  one
===k1,k2:
b two
===k3:
      data1    data2 key1 key2
3 -0.244654  0.38196    b  two

对group by后的内容进行操作，如转换成字典

In [12]:
piece=dict(list(df.groupby('key1')))
piece

{'a':       data1     data2 key1 key2
 0  0.308371  0.708649    a  one
 1 -0.335374  0.393052    a  two
 4  1.499224  0.813785    a  one, 'b':       data1     data2 key1 key2
 2 -0.313663  0.902577    b  one
 3 -0.244654  0.381960    b  two}

In [13]:
piece['a']

      data1     data2 key1 key2
0  0.308371  0.708649    a  one
1 -0.335374  0.393052    a  two
4  1.499224  0.813785    a  one

groupby默认是在axis=0上进行分组的，通过设置也可以在其他任何轴上进行分组.

In [14]:
grouped=df.groupby(df.dtypes, axis=1)
dict(list(grouped))

{dtype('float64'):       data1     data2
 0  0.308371  0.708649
 1 -0.335374  0.393052
 2 -0.313663  0.902577
 3 -0.244654  0.381960
 4  1.499224  0.813785, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

# 选取一个或者一组列

对于大数据，很多情况是只需要对部分列进行聚合

In [15]:
df.groupby(['key1','key2'])[['data2']].mean()

              data2
key1 key2
a    one   0.761217
     two   0.393052
b    one   0.902577
     two   0.381960

# 通过字典或者series进行分组

In [16]:
people=pd.DataFrame(np.random.randn(5,5),
                   columns=list('abcde'),
                   index=['Joe','Steve','Wes','Jim','Travis'])

people.ix[2:3,['b','c']]=np.nan #设置几个nan
people

/Users/miaoyuesun/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """

               a         b         c         d         e
Joe    -0.421576 -0.300951  0.461211  0.259254  0.661840
Steve   1.822771 -0.075137  0.641606  0.930367  0.547527
Wes     0.607869       NaN       NaN  0.378190  0.232117
Jim     0.394174  0.396462  0.902182 -0.181211  1.156016
Travis -0.746362 -1.119677 -0.976149 -0.318801  0.818500