In [3]:
#import required packages
#使用ib_insync是一个能比较简单的提取数据的包（相比于ib_api自带的功能）
import pandas as pd
from ib_insync import *
util.startLoop()

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(context='notebook', style='darkgrid', palette='deep', font='sans-serif', font_scale=1, color_codes=False, rc=None)

In [4]:
#establish connection with IB TWS
ib = IB()
ib.connect('127.0.0.1', 7497, clientId=100)

# 实时下单

https://github.com/erdewit/ib_insync/blob/master/notebooks/ordering.ipynb

In [16]:
from ib_insync import *
# util.startLoop()
 
ib = IB()
ib.connect('127.0.0.1', 7496, clientId=1)
 
contract = Stock('AAPL', 'SMART', 'USD')
ib.qualifyContracts(contract)
 
order = MarketOrder('BUY', 1)
 
trade = ib.placeOrder(contract, order)
 
print(trade)
 
ib.sleep(1)
print(trade.log)
 
limitOrder = LimitOrder('BUY', 1, 0.05)
limitTrade = ib.placeOrder(contract, limitOrder)
 
print(limitTrade)
 
ib.cancelOrder(limitOrder)

[Stock(conId=265598, symbol='AAPL', exchange='SMART', primaryExchange='NASDAQ', currency='USD', localSymbol='AAPL', tradingClass='NMS')]

# 调取数据

In [28]:
contract = Stock('ARKG', 'SMART',currency='USD')
ib.qualifyContracts(contract)

[Stock(conId=172522641, symbol='ARKG', exchange='SMART', primaryExchange='BATS', currency='USD', localSymbol='ARKG', tradingClass='ARKG')]

In [29]:
contract

Stock(conId=172522641, symbol='ARKG', exchange='SMART', primaryExchange='BATS', currency='USD', localSymbol='ARKG', tradingClass='ARKG')

In [30]:
contract = Stock('SPY', 'SMART',currency='USD')
ib.qualifyContracts(contract)
dt = ''
barsList = []
while True:
    bars = ib.reqHistoricalData(
        contract,
        endDateTime=dt,
        durationStr='10 D',
        barSizeSetting='1 hour',
        whatToShow='ADJUSTED_LAST',
        useRTH=True,
#         formatDateb=1
    )
    if not bars:
        break
    barsList.append(bars)
    dt = bars[0].date
    print(dt)
# save to CSV file
allBars = [b for bars in reversed(barsList) for b in bars]
df = util.df(allBars)

Error 162, reqId 15: \xc0\xfaʷ\xcaг\xa1\xca\xfd\xbeݷ\xfe\xce\xf1\xb4\xed\xce\xf3\xcf\xfbϢ:No market data permissions for AMEX STK, contract: Stock(conId=756733, symbol='SPY', exchange='SMART', primaryExchange='ARCA', currency='USD', localSymbol='SPY', tradingClass='SPY')

In [31]:
df

Error 1100, reqId -1: IB\xd3\xebTrader Workstation\xb5\xc4\xc1\xac\xbd\xd3\xd6жϡ\xa3
[WinError 10054] 远程主机强迫关闭了一个现有的连接。

In [33]:
import yfinance as yf

In [40]:
data = yf.download(
        tickers=['BTC-USD','AAPL'], 
        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period="5d",
        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval="5m")

[*********************100%***********************]  2 of 2 completed

In [41]:
data

                            Adj Close                     Close                \
                                 AAPL       BTC-USD        AAPL       BTC-USD
Datetime
2021-02-10 14:30:00+00:00  136.520004           NaN  136.520004           NaN
2021-02-10 14:35:00+00:00  136.389999           NaN  136.389999           NaN
2021-02-10 14:40:00+00:00  136.350800           NaN  136.350800           NaN
2021-02-10 14:45:00+00:00  136.410004           NaN  136.410004           NaN
2021-02-10 14:50:00+00:00  136.175003           NaN  136.175003           NaN
...                               ...           ...         ...           ...
2021-02-18 07:35:00+00:00         NaN  51559.015625         NaN  51559.015625
2021-02-18 07:40:00+00:00         NaN  51511.796875         NaN  51511.796875
2021-02-18 07:45:00+00:00         NaN  51587.363281         NaN  51587.363281
2021-02-18 07:50:00+00:00         NaN  51672.753906         NaN  51672.753906
2021-02-18 07:55:02+00:00         NaN  51903.414062         NaN  51903.414062

                                 High                       Low                \
                                 AAPL       BTC-USD        AAPL       BTC-USD
Datetime
2021-02-10 14:30:00+00:00  136.990005           NaN  136.339996           NaN
2021-02-10 14:35:00+00:00  136.529999           NaN  136.262405           NaN
2021-02-10 14:40:00+00:00  136.449997           NaN  136.190002           NaN
2021-02-10 14:45:00+00:00  136.544998           NaN  136.279999           NaN
2021-02-10 14:50:00+00:00  136.270004           NaN  136.130005           NaN
...                               ...           ...         ...           ...
2021-02-18 07:35:00+00:00         NaN  51580.796875         NaN  51519.781250
2021-02-18 07:40:00+00:00         NaN  51550.101562         NaN  51511.796875
2021-02-18 07:45:00+00:00         NaN  51587.363281         NaN  51493.769531
2021-02-18 07:50:00+00:00         NaN  51672.753906         NaN  51582.824219
2021-02-18 07:55:02+00:00         NaN  51903.414062         NaN  51903.414062

                                 Open                   Volume
                                 AAPL       BTC-USD       AAPL      BTC-USD
Datetime
2021-02-10 14:30:00+00:00  136.589996           NaN  3550511.0          NaN
2021-02-10 14:35:00+00:00  136.399994           NaN  1440608.0          NaN
2021-02-10 14:40:00+00:00  136.250000           NaN  1047856.0          NaN
2021-02-10 14:45:00+00:00  136.500000           NaN  1089198.0          NaN
2021-02-10 14:50:00+00:00  136.250000           NaN  1038957.0          NaN
...                               ...           ...        ...          ...
2021-02-18 07:35:00+00:00         NaN  51519.781250        NaN  170205184.0
2021-02-18 07:40:00+00:00         NaN  51550.101562        NaN  105291776.0
2021-02-18 07:45:00+00:00         NaN  51508.832031        NaN          0.0
2021-02-18 07:50:00+00:00         NaN  51582.824219        NaN  158228480.0
2021-02-18 07:55:02+00:00         NaN  51903.414062        NaN          0.0

[1481 rows x 12 columns]