In [3]:
import numpy as np
import pandas as pd
import psycopg2
import statsmodels.api as sm
import matplotlib.pyplot as plt
# label_total=['A88','C88']
# start_date='20100101'
# end_date='20140101'
# data=[]

%matplotlib inline

In [4]:
def all_assts_from_sql(asst1, asst2, asst3, asst4, asst5, asst6, asst7, asst8, sql_limit_num, location, till_date):
    conn = psycopg2.connect(database="bitmexdata", user="postgres", password="tongKen123", host="128.199.97.202", port="5432")
    asset1 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst1, sql_limit_num)
    asset2 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst2, sql_limit_num)
    asset3 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst3, sql_limit_num)
    asset4 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst4, sql_limit_num)
    asset5 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst5, sql_limit_num)
    asset6 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst6, sql_limit_num)
    asset7 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst7, sql_limit_num)
    asset8 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst8, sql_limit_num)
    df1 = pd.read_sql(asset1, con=conn)
    df2 = pd.read_sql(asset2, con=conn)
    df3 = pd.read_sql(asset3, con=conn)
    df4 = pd.read_sql(asset4, con=conn)
    df5 = pd.read_sql(asset5, con=conn)
    df6 = pd.read_sql(asset6, con=conn)
    df7 = pd.read_sql(asset7, con=conn)
    df8 = pd.read_sql(asset8, con=conn)
    conn.close()
#     return df1, df2, df3, df4, df5, df6, df7, df8
    df1.to_csv(location+"{}".format(till_date)+asst1+".csv", index = False)
    df2.to_csv(location+"{}".format(till_date)+asst2+".csv", index = False)
    df3.to_csv(location+"{}".format(till_date)+asst3+".csv", index = False)
    df4.to_csv(location+"{}".format(till_date)+asst4+".csv", index = False)
    df5.to_csv(location+"{}".format(till_date)+asst5+".csv", index = False)
    df6.to_csv(location+"{}".format(till_date)+asst6+".csv", index = False)
    df7.to_csv(location+"{}".format(till_date)+asst7+".csv", index = False)
    df8.to_csv(location+"{}".format(till_date)+asst8+".csv", index = False)

# standardize and reset the price:
# file_suffix example: 'z18_1d.csv'
# added_note example: 'u18z18乘'
# till_date example: '11_10_' 
def reset_price(location, till_date, file_suffix, added_note):

    symlist = ['ada', 'bch', 'eth', 'eos', 'trx', 'xrp', 'ltc']

    for s in symlist:
        if s == 'ada':
            c = 10000000
        elif s == 'bch':
            c = 10000
        elif s == 'eos':
            c = 1000000
        elif s == 'eth':
            c = 10000
        elif s == 'ltc':
            c = 100000
        elif s == 'trx':
            c = 100000000
        elif s == 'xrp':
            c = 10000000

#         b = pd.read_csv(location + till_date + s + file_suffix,header=None)
        b = pd.read_csv(location + "{}".format(till_date) + s + file_suffix + ".csv")
        b.iloc[:, [1, 2, 3, 4]] = b.iloc[:, [1, 2, 3, 4]].astype(float)
        b.iloc[:, [1, 2, 3, 4]] = (b.iloc[:, [1, 2, 3, 4]]) * c
        b.to_csv(location + 'res_' + till_date + s + added_note + str(c) + '.csv', 
                 sep=',', header=False, index=False, float_format='%.2f')

location = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracing_and_transforming_data/"
till_date = "11_24_"
file_suffix = 'u18z18_1d'
added_note = 'u18z18乘'

all_assts_from_sql("ada"+file_suffix, "bch"+file_suffix, "eos"+file_suffix, 
                   "eth"+file_suffix, "ltc"+file_suffix, "trx"+file_suffix, 
                   "xbt"+file_suffix, "xrp"+file_suffix, 1000,
                   "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracing_and_transforming_data/",
                   till_date)

reset_price(location, till_date, file_suffix, added_note)

In [7]:
ada_df = pd.read_csv(location + "res_"+till_date+"adau18z18乘10000000.csv", engine="python", header=None)
bch_df = pd.read_csv(location + "res_"+till_date+"bchu18z18乘10000.csv", engine="python", header=None)
eos_df = pd.read_csv(location + "res_"+till_date+"eosu18z18乘1000000.csv", engine="python", header=None)
eth_df = pd.read_csv(location + "res_"+till_date+"ethu18z18乘10000.csv", engine="python", header=None)
ltc_df = pd.read_csv(location + "res_"+till_date+"ltcu18z18乘100000.csv", engine="python", header=None)
trx_df = pd.read_csv(location + "res_"+till_date+"trxu18z18乘100000000.csv", engine="python", header=None)
btc_df = pd.read_csv(location + "res_"+till_date+"xbtusd_1d.csv", engine="python", header=None)
xrp_df = pd.read_csv(location + "res_"+till_date+"xrpu18z18乘10000000.csv", engine="python", header=None)

In [8]:
ada_df

                       0      1       2      3      4            5
0    2018-11-24 00:00:00   99.9   101.3   95.0   98.7   73682140.0
1    2018-11-23 00:00:00  101.7   101.8   98.5   99.9   48480259.0
2    2018-11-22 00:00:00  104.7   105.6  100.9  101.7   43990871.0
3    2018-11-21 00:00:00  100.5   105.1   98.2  104.7   52684818.0
4    2018-11-20 00:00:00  106.9   107.0   95.9  100.5  135071261.0
5    2018-11-19 00:00:00  111.1   111.1  100.0  106.9  152066947.0
6    2018-11-18 00:00:00  108.8   112.6  108.8  111.1   50303488.0
7    2018-11-17 00:00:00  108.9   109.4  107.2  108.8   32767570.0
8    2018-11-16 00:00:00  112.1   113.1  108.1  108.9   60537476.0
9    2018-11-15 00:00:00  112.3   113.2  106.1  112.1   92886074.0
10   2018-11-14 00:00:00  116.9   118.6   94.7  112.3  366166861.0
11   2018-11-13 00:00:00  121.9   122.0  115.6  116.9  159030647.0
12   2018-11-12 00:00:00  122.1   123.2  119.0  121.9  118937558.0
13   2018-11-11 00:00:00  118.8   124.4  117.4  122.1  239322150.0
14   2018-11-10 00:00:00  117.4   119.6  116.9  118.8   62280073.0
15   2018-11-09 00:00:00  121.5   123.3  114.2  117.4  202567390.0
16   2018-11-08 00:00:00  123.5   124.9  120.1  121.5  191308567.0
17   2018-11-07 00:00:00  128.6   128.9  122.2  123.5  200184141.0
18   2018-11-06 00:00:00  122.0   129.3  121.9  128.6  220189528.0
19   2018-11-05 00:00:00  122.7   127.0  118.5  122.0  208355423.0
20   2018-11-04 00:00:00  115.1   124.0  115.0  122.7  239553812.0
21   2018-11-03 00:00:00  116.3   116.4  114.2  115.1   65045961.0
22   2018-11-02 00:00:00  113.2   117.9  113.1  116.3  128995826.0
23   2018-11-01 00:00:00  112.5   113.4  112.0  113.2   32568226.0
24   2018-10-31 00:00:00  112.6   113.0  111.1  112.5   56958684.0
25   2018-10-30 00:00:00  112.4   113.2  112.2  112.6   33774141.0
26   2018-10-29 00:00:00  115.4   115.6  111.5  112.4   81613775.0
27   2018-10-28 00:00:00  115.6   115.8  114.3  115.4   30990341.0
28   2018-10-27 00:00:00  116.2   116.3  115.5  115.6   22248925.0
29   2018-10-26 00:00:00  116.5   117.1  115.3  116.2   44256929.0
..                   ...    ...     ...    ...    ...          ...
129  2018-07-18 00:00:00  246.2   272.5  245.9  255.4  134193460.0
130  2018-07-17 00:00:00  241.4   251.7  235.1  246.2   89226419.0
131  2018-07-16 00:00:00  232.0   243.9  230.8  241.4   47275764.0
132  2018-07-15 00:00:00  225.1   238.8  223.7  232.0   53051575.0
133  2018-07-14 00:00:00  225.0   229.0  221.1  225.1   45968146.0
134  2018-07-13 00:00:00  210.4   234.5  208.2  225.0  134659330.0
135  2018-07-12 00:00:00  213.6   213.7  206.2  210.4   22394397.0
136  2018-07-11 00:00:00  208.4   216.4  205.6  213.6   26525017.0
137  2018-07-10 00:00:00  216.7   217.0  205.1  208.4   33155357.0
138  2018-07-09 00:00:00  222.1   223.7  215.9  216.7   21158833.0
139  2018-07-08 00:00:00  226.0   228.5  221.6  222.1   22412717.0
140  2018-07-07 00:00:00  224.9   228.3  215.4  226.0   31986656.0
141  2018-07-06 00:00:00  232.1   232.6  214.0  224.9   40061122.0
142  2018-07-05 00:00:00  239.2   242.4  226.4  232.1   34010865.0
143  2018-07-04 00:00:00  236.4   256.1  231.0  239.2   48753739.0
144  2018-07-03 00:00:00  243.0   250.0  235.2  236.4   58465141.0
145  2018-07-02 00:00:00  230.0   250.1  225.5  243.0   81355594.0
146  2018-07-01 00:00:00  219.4   233.3  212.4  230.0   79387407.0
147  2018-06-30 00:00:00  208.8   222.7  208.6  219.4   55625109.0
148  2018-06-29 00:00:00  208.4   210.1  200.3  208.8   18517416.0
149  2018-06-28 00:00:00  213.1   213.8  207.9  208.4    2422951.0
150  2018-06-27 00:00:00  209.5   214.4  209.3  213.1    1734996.0
151  2018-06-26 00:00:00  220.1   220.4  209.2  209.5    1015835.0
152  2018-06-25 00:00:00  217.1   225.2  212.8  220.1    1510082.0
153  2018-06-24 00:00:00  227.6   227.4  209.3  217.1    2886006.0
154  2018-06-23 00:00:00  233.3   234.8  222.7  227.6    1404724.0
155  2018-06-22 00:00:00  245.4   245.4  227.1  233.3    3324446.0
156  2018-06-21 00:00:00  246.7   247.9  244.0  245.4     582759.0
157  2018-06-20 00:00:00  261.6   263.7  245.0  246.7    1507888.0
158  2018-06-19 00:00:00  251.6  2452.0  232.3  261.6     884483.0

[159 rows x 6 columns]