In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

%matplotlib inline

In [2]:
root = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/strats/"
perf = pd.read_csv(root+"11_27_combined_strat_performance_analysis_.csv")
# del perf['Unnamed: 0']

In [3]:
perf.columns = ['strat', 'position_direction', 'asset', 'entry_date', 'entry_price', 'exit_date', 'exit_price', 'qty', 'trade_costs', 'net_gains', 'cum_gains',
       'returns', 'cum_returns']

In [6]:
len(perf)

160

In [4]:
new_df = pd.DataFrame([])
new_df["date"] = perf['entry_date']
new_df['strat'] = perf['strat']
new_df['asset'] = perf['asset']
new_df['entry_date'] = perf['entry_date']
new_df['entry_price'] = perf['entry_price']
new_df['qty'] = perf['qty']
new_df['pos_dirctn'] = perf['position_direction']

In [108]:
all_dates = list(perf['entry_date'].append(perf['exit_date']))
all_strats = list(perf['strat'].append(perf['strat']))
all_assets = list(perf['asset'].append(perf['asset']))
all_qty = list(perf['qty'].append(perf['qty']))
all_pos_dirctn = list(perf['position_direction'].append(perf['position_direction']))
all_exit_price = perf['exit_price']

In [109]:
new_df = pd.DataFrame([])
new_df['all_dates'] = all_dates
new_df['all_strats'] = all_strats
new_df['assets'] = all_assets
new_df['pos_dirctn'] = all_pos_dirctn
new_df['qty'] = all_qty

In [110]:
new_df['entry_price'] = perf['entry_price']
new_df['exit_price'] = ''
new_df['exit_price'][160:] = all_exit_price

C:\Users\Brad Sun\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [111]:
new_df['all_dates'] = pd.to_datetime(new_df['all_dates'])
new_df.sort_values('all_dates', inplace=True)
new_df.fillna("", inplace=True)

In [141]:
new_df['all_dates'] = new_df['all_dates'].astype(str)

In [152]:
new_df[20:50]

,all_dates,all_strats,assets,pos_dirctn,qty,entry_price,exit_price
11,2018-07-18,MA_Relative_Ranking_OGNew_11_26,DXRP,空头,146,682.8,
169,2018-07-18,MA_Relative_Ranking_OGNew_11_26,DLTC,空头,802,,119.3
14,2018-07-19,MA_Relative_Ranking_OGNew_11_26,DBTC,多头,13,7466.5,
170,2018-07-19,MA_Relative_Ranking_OGNew_11_26,DADA,多头,431,,248.6
12,2018-07-23,MA_Relative_Ranking_OGNew_11_26,DTRX,空头,224,446,
171,2018-07-23,MA_Relative_Ranking_OGNew_11_26,DXRP,空头,146,,583.5
13,2018-07-25,MA_Relative_Ranking_OGNew_11_26,DXRP,空头,173,574.8,
172,2018-07-25,MA_Relative_Ranking_OGNew_11_26,DTRX,空头,224,,470
15,2018-07-27,Pairs_Trading_3prs_test,DTRX,多头,216,461,
16,2018-07-27,Pairs_Trading_3prs_test,DEOS,空头,942,106.15,
26,2018-07-27,Pairs_Trading_3prs_test,DBCH,空头,970,103,
25,2018-07-27,Pairs_Trading_3prs_test,DLTC,多头,952,105,
21,2018-07-27,Pairs_Trading_3prs_test,DADA,空头,475,210.1,
20,2018-07-27,Pairs_Trading_3prs_test,DETH,多头,170,587,
173,2018-07-28,MA_Relative_Ranking_OGNew_11_26,DXRP,空头,173,,569
24,2018-07-28,MA_Relative_Ranking_OGNew_11_26,DADA,空头,484,206.6,
17,2018-07-29,MA_Relative_Ranking_OGNew_11_26,DTRX,多头,201,496,
174,2018-07-29,MA_Relative_Ranking_OGNew_11_26,DBTC,多头,13,,8219
176,2018-07-30,Pairs_Trading_3prs_test,DEOS,空头,942,,96.41
177,2018-07-30,MA_Relative_Ranking_OGNew_11_26,DTRX,多头,201,,459
175,2018-07-30,Pairs_Trading_3prs_test,DTRX,多头,216,,459
18,2018-07-30,MA_Relative_Ranking_OGNew_11_26,DXRP,多头,180,554.6,
23,2018-07-30,Pairs_Trading_3prs_test,DTRX,空头,217,459,
22,2018-07-30,Pairs_Trading_3prs_test,DEOS,多头,517,96.41,
178,2018-07-31,MA_Relative_Ranking_OGNew_11_26,DXRP,多头,180,,574.6
19,2018-07-31,MA_Relative_Ranking_OGNew_11_26,DBTC,多头,12,7727,
30,2018-08-01,MA_Relative_Ranking_OGNew_11_26,DXRP,多头,168,595,
179,2018-08-01,MA_Relative_Ranking_OGNew_11_26,DBTC,多头,12,,7604.5
180,2018-08-02,Pairs_Trading_3prs_test,DETH,多头,170,,554.8
181,2018-08-02,Pairs_Trading_3prs_test,DADA,空头,475,,177

In [143]:
date_df = pd.DataFrame([], index = pd.date_range(start='7/5/2018', end='11/21/2018'))
date_df['all_dates'] = date_df.index.astype(str)

In [132]:
date_df.reset_index(inplace = True)

In [145]:
merged_df = date_df.merge(new_df, on = 'all_dates', how = 'outer')

In [148]:
merged_df[merged_df['assets']=='DBCH'].head()

,all_dates,all_strats,assets,pos_dirctn,qty,entry_price,exit_price
0,2018-07-05,MA_Relative_Ranking_OGNew_11_26,DBCH,空头,860.0,116.2,
3,2018-07-07,MA_Relative_Ranking_OGNew_11_26,DBCH,空头,860.0,,118.1
39,2018-07-27,Pairs_Trading_3prs_test,DBCH,空头,970.0,103,
70,2018-08-05,Pairs_Trading_3prs_test,DBCH,多头,974.0,102.6,
72,2018-08-05,Pairs_Trading_3prs_test,DBCH,空头,970.0,,102.6

In [106]:
tickers = ['DADA', 'DTRX', 'DBCH', 'DETH', 'DLTC', 'DEOS', 'XRP', 'BTC']

In [ ]:
# fill all the dates for every ticker.

In [ ]:
def create_position_status(entry_price, exit_price):
    if entry_price != '' and exit_price == '':
        return ''

In [ ]:
for ticker in tickers:
    df = new_df[new_df['assets']==ticker]
    df['{}_exposrure'.format(ticker)] = ''

# Review Data

In [153]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import psycopg2

# %matplotlib inline

# Extract all daily digital currency data from SQL database:
def all_assts_from_sql(asst1, asst2, asst3, asst4, asst5, asst6, asst7, asst8, sql_limit_num, location, till_date):
    conn = psycopg2.connect(database="bitmexdata", user="postgres", password="tongKen123", host="128.199.97.202", port="5432")
    asset1 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst1, sql_limit_num)
    asset2 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst2, sql_limit_num)
    asset3 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst3, sql_limit_num)
    asset4 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst4, sql_limit_num)
    asset5 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst5, sql_limit_num)
    asset6 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst6, sql_limit_num)
    asset7 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst7, sql_limit_num)
    asset8 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst8, sql_limit_num)
    df1 = pd.read_sql(asset1, con=conn)
    df2 = pd.read_sql(asset2, con=conn)
    df3 = pd.read_sql(asset3, con=conn)
    df4 = pd.read_sql(asset4, con=conn)
    df5 = pd.read_sql(asset5, con=conn)
    df6 = pd.read_sql(asset6, con=conn)
    df7 = pd.read_sql(asset7, con=conn)
    df8 = pd.read_sql(asset8, con=conn)
    conn.close()
#     return df1, df2, df3, df4, df5, df6, df7, df8
    df1.to_csv(location+"{}".format(till_date)+asst1+".csv", index = False)
    df2.to_csv(location+"{}".format(till_date)+asst2+".csv", index = False)
    df3.to_csv(location+"{}".format(till_date)+asst3+".csv", index = False)
    df4.to_csv(location+"{}".format(till_date)+asst4+".csv", index = False)
    df5.to_csv(location+"{}".format(till_date)+asst5+".csv", index = False)
    df6.to_csv(location+"{}".format(till_date)+asst6+".csv", index = False)
    df7.to_csv(location+"{}".format(till_date)+asst7+".csv", index = False)
    df8.to_csv(location+"{}".format(till_date)+asst8+".csv", index = False)

# standardize and reset the price:
# file_suffix example: 'z18_1d.csv'
# added_note example: 'u18z18乘'
# till_date example: '11_10_'
def reset_price(location, till_date, file_suffix, added_note):

    symlist = ['ada', 'bch', 'eth', 'eos', 'trx', 'xrp', 'ltc']

    for s in symlist:
        if s == 'ada':
            c = 10000000
        elif s == 'bch':
            c = 1000
        elif s == 'eos':
            c = 100000
        elif s == 'eth':
            c = 1000
        elif s == 'ltc':
            c = 100000
        elif s == 'trx':
            c = 100000000
        elif s == 'xrp':
            c = 10000000

#         b = pd.read_csv(location + till_date + s + file_suffix,header=None)
        b = pd.read_csv(location + "{}".format(till_date) + s + file_suffix + ".csv")
        b.iloc[:, [1, 2, 3, 4]] = b.iloc[:, [1, 2, 3, 4]].astype(float)
        b.iloc[:, [1, 2, 3, 4]] = (b.iloc[:, [1, 2, 3, 4]]) * c
        b.to_csv(location + 'res_' + till_date + s + added_note + str(c) + '.csv',
                 sep=',', header=False, index=False, float_format='%.2f')

location = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracing_and_transforming_data/"
till_date = "11_27_"
frequency = "_1d"
file_suffix = 'u18z18'+frequency
added_note = 'u18z18乘'

all_assts_from_sql("ada"+file_suffix, "bch"+file_suffix, "eos"+file_suffix,
                   "eth"+file_suffix, "ltc"+file_suffix, "trx"+file_suffix,
                   "xbtusd"+frequency, "xrp"+file_suffix, 1000,
                   "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracing_and_transforming_data/",
                   till_date)

reset_price(location, till_date, file_suffix, added_note)

ada_df = pd.read_csv(location + "res_"+till_date+"ada"+added_note+"10000000.csv", engine="python", header=None)
bch_df = pd.read_csv(location + "res_"+till_date+"bch"+added_note+"10000.csv", engine="python", header=None)
eos_df = pd.read_csv(location + "res_"+till_date+"eos"+added_note+"1000000.csv", engine="python", header=None)
eth_df = pd.read_csv(location + "res_"+till_date+"eth"+added_note+"10000.csv", engine="python", header=None)
ltc_df = pd.read_csv(location + "res_"+till_date+"ltc"+added_note+"100000.csv", engine="python", header=None)
trx_df = pd.read_csv(location + "res_"+till_date+"trx"+added_note+"100000000.csv", engine="python", header=None)
xrp_df = pd.read_csv(location + "res_"+till_date + "xrp"+added_note+"10000000.csv", engine="python", header=None)
btc_df = pd.read_csv(location + till_date + "xbtusd" +frequency +".csv", engine="python", header = None)
btc_df = btc_df.iloc[1:, :]
btc_df.to_csv(location + "res_" + till_date + "xbtusd"+frequency +".csv",
                 sep=',', header=False, index=False, float_format='%.2f')
btc_df = pd.read_csv(location + "res_" + till_date + "xbtusd"+frequency +".csv", engine="python", header=None)

In [161]:
len(ada_df.columns)

6

In [170]:
df = trx_df.copy()
df.sort_values(df.columns[0])

                       0      1      2      3      4            5
152  2018-06-27 00:00:00  699.0  699.0  602.0  644.0   53847101.0
151  2018-06-28 00:00:00  644.0  662.0  611.0  616.0  125750814.0
150  2018-06-29 00:00:00  616.0  624.0  563.0  591.0  193691592.0
149  2018-06-30 00:00:00  591.0  629.0  586.0  602.0  196480974.0
148  2018-07-01 00:00:00  602.0  604.0  588.0  598.0   64391895.0
147  2018-07-02 00:00:00  598.0  650.0  598.0  623.0  200199041.0
146  2018-07-03 00:00:00  623.0  638.0  602.0  607.0  138572258.0
145  2018-07-04 00:00:00  607.0  630.0  598.0  614.0  104040391.0
144  2018-07-05 00:00:00  614.0  617.0  589.0  594.0   83742820.0
143  2018-07-06 00:00:00  594.0  594.0  542.0  565.0  193467050.0
142  2018-07-07 00:00:00  565.0  570.0  554.0  568.0   50811394.0
141  2018-07-08 00:00:00  568.0  578.0  566.0  568.0   56471837.0
140  2018-07-09 00:00:00  568.0  568.0  555.0  556.0   72947893.0
139  2018-07-10 00:00:00  556.0  568.0  516.0  540.0  206806913.0
138  2018-07-11 00:00:00  540.0  554.0  535.0  545.0   59850729.0
137  2018-07-12 00:00:00  545.0  546.0  527.0  537.0   97280593.0
136  2018-07-13 00:00:00  537.0  560.0  537.0  551.0  109602129.0
135  2018-07-14 00:00:00  551.0  555.0  541.0  550.0   30966941.0
134  2018-07-15 00:00:00  550.0  563.0  546.0  558.0   53791283.0
133  2018-07-16 00:00:00  558.0  591.0  555.0  590.0  149397906.0
132  2018-07-17 00:00:00  590.0  590.0  567.0  576.0  211151273.0
131  2018-07-18 00:00:00  576.0  608.0  550.0  561.0  430230585.0
130  2018-07-19 00:00:00  561.0  560.0  512.0  518.0  352473483.0
129  2018-07-20 00:00:00  518.0  519.0  478.0  486.0  276368361.0
128  2018-07-21 00:00:00  486.0  505.0  478.0  494.0   92176121.0
127  2018-07-22 00:00:00  494.0  500.0  486.0  488.0   47150273.0
126  2018-07-23 00:00:00  488.0  491.0  443.0  446.0  237687990.0
125  2018-07-24 00:00:00  446.0  489.0  414.0  465.0  545921981.0
124  2018-07-25 00:00:00  465.0  483.0  453.0  470.0  154885910.0
123  2018-07-26 00:00:00  470.0  485.0  457.0  467.0  137990032.0
..                   ...    ...    ...    ...    ...          ...
29   2018-10-28 00:00:00  368.0  370.0  366.0  369.0   64403039.0
28   2018-10-29 00:00:00  369.0  370.0  337.0  352.0  430590677.0
27   2018-10-30 00:00:00  352.0  356.0  352.0  354.0   97273767.0
26   2018-10-31 00:00:00  354.0  359.0  343.0  354.0  187049570.0
25   2018-11-01 00:00:00  354.0  357.0  353.0  356.0  107328030.0
24   2018-11-02 00:00:00  356.0  367.0  355.0  364.0  190374485.0
23   2018-11-03 00:00:00  364.0  365.0  360.0  362.0   81175861.0
22   2018-11-04 00:00:00  362.0  383.0  356.0  376.0  454243453.0
21   2018-11-05 00:00:00  376.0  388.0  370.0  380.0  378812005.0
20   2018-11-06 00:00:00  380.0  393.0  379.0  391.0  578138823.0
19   2018-11-07 00:00:00  391.0  393.0  374.0  379.0  525367627.0
18   2018-11-08 00:00:00  379.0  381.0  360.0  365.0  353283492.0
17   2018-11-09 00:00:00  365.0  370.0  364.0  367.0  166572290.0
16   2018-11-10 00:00:00  367.0  370.0  360.0  366.0  116602595.0
15   2018-11-11 00:00:00  366.0  369.0  362.0  365.0  160780290.0
14   2018-11-12 00:00:00  365.0  366.0  350.0  359.0  382000219.0
13   2018-11-13 00:00:00  359.0  360.0  342.0  346.0  239572667.0
12   2018-11-14 00:00:00  346.0  351.0  285.0  337.0  742279030.0
11   2018-11-15 00:00:00  337.0  340.0  318.0  336.0  251438122.0
10   2018-11-16 00:00:00  336.0  353.0  336.0  340.0  177296375.0
9    2018-11-17 00:00:00  340.0  341.0  329.0  339.0  102468834.0
8    2018-11-18 00:00:00  339.0  343.0  337.0  337.0   96370041.0
7    2018-11-19 00:00:00  337.0  338.0  311.0  325.0  336973758.0
6    2018-11-20 00:00:00  325.0  331.0  284.0  312.0  370039883.0
5    2018-11-21 00:00:00  312.0  324.0  306.0  322.0  130710239.0
4    2018-11-22 00:00:00  322.0  325.0  317.0  317.0   71008972.0
3    2018-11-23 00:00:00  317.0  318.0  309.0  315.0   81638683.0
2    2018-11-24 00:00:00  315.0  322.0  312.0  321.0   86661288.0
1    2018-11-25 00:00:00  321.0  323.0  291.0  306.0  269846869.0
0    2018-11-26 00:00:00  306.0  316.0  305.0  311.0  164566766.0

[153 rows x 6 columns]

In [160]:
bch_df

                       0       1       2       3       4          5
0    2018-11-26 00:00:00   454.0   509.0   446.0   475.0    73339.0
1    2018-11-25 00:00:00   458.0   485.0   403.0   454.0    66592.0
2    2018-11-24 00:00:00   472.0   487.0   451.0   458.0    36627.0
3    2018-11-23 00:00:00   480.0   493.0   458.0   472.0    59342.0
4    2018-11-22 00:00:00   510.0   516.0   467.0   480.0    41554.0
5    2018-11-21 00:00:00   496.0   515.0   488.0   510.0    44322.0
6    2018-11-20 00:00:00   471.0   521.0   438.0   496.0   120815.0
7    2018-11-19 00:00:00   513.0   514.0   428.0   471.0   170777.0
8    2018-11-18 00:00:00   464.0   520.0   464.0   513.0   148518.0
9    2018-11-17 00:00:00   482.0   487.0   414.0   464.0   236120.0
10   2018-11-16 00:00:00   548.0   558.0   463.0   482.0   212336.0
11   2018-11-15 00:00:00   461.0   640.0   415.0   548.0  1033351.0
12   2018-11-14 00:00:00   495.0   619.0   313.0   461.0  1568974.0
13   2018-11-13 00:00:00   669.0   723.0   460.0   495.0  1059467.0
14   2018-11-12 00:00:00   710.0   715.0   632.0   669.0   694698.0
15   2018-11-11 00:00:00   774.0   778.0   688.0   710.0   410092.0
16   2018-11-10 00:00:00   793.0   811.0   753.0   774.0   333944.0
17   2018-11-09 00:00:00   860.0   883.0   763.0   793.0   472536.0
18   2018-11-08 00:00:00   937.0   941.0   851.0   860.0   402425.0
19   2018-11-07 00:00:00   965.0   975.0   917.0   937.0   322119.0
20   2018-11-06 00:00:00   863.0   974.0   855.0   965.0   390004.0
21   2018-11-05 00:00:00   866.0   885.0   827.0   863.0   307797.0
22   2018-11-04 00:00:00   753.0   898.0   753.0   866.0   608156.0
23   2018-11-03 00:00:00   733.0   764.0   725.0   753.0    89749.0
24   2018-11-02 00:00:00   677.0   746.0   676.0   733.0    91921.0
25   2018-11-01 00:00:00   679.0   680.0   676.0   677.0     4991.0
26   2018-10-31 00:00:00   676.0   687.0   662.0   679.0    14906.0
27   2018-10-30 00:00:00   667.0   682.0   665.0   676.0     9535.0
28   2018-10-29 00:00:00   694.0   696.0   635.0   667.0    41078.0
29   2018-10-28 00:00:00   692.0   695.0   691.0   694.0     5453.0
..                   ...     ...     ...     ...     ...        ...
131  2018-07-18 00:00:00  1219.0  1244.0  1126.0  1153.0    18325.0
132  2018-07-17 00:00:00  1226.0  1235.0  1191.0  1219.0    12163.0
133  2018-07-16 00:00:00  1168.0  1235.0  1160.0  1226.0     9352.0
134  2018-07-15 00:00:00  1150.0  1176.0  1148.0  1168.0     3294.0
135  2018-07-14 00:00:00  1141.0  1156.0  1134.0  1150.0     2277.0
136  2018-07-13 00:00:00  1130.0  1161.0  1129.0  1141.0     4851.0
137  2018-07-12 00:00:00  1138.0  1140.0  1090.0  1130.0     7817.0
138  2018-07-11 00:00:00  1115.0  1146.0  1115.0  1138.0     3692.0
139  2018-07-10 00:00:00  1126.0  1135.0  1106.0  1115.0     6531.0
140  2018-07-09 00:00:00  1150.0  1159.0  1119.0  1126.0     5209.0
141  2018-07-08 00:00:00  1181.0  1191.0  1130.0  1150.0    10094.0
142  2018-07-07 00:00:00  1131.0  1185.0  1124.0  1181.0     9138.0
143  2018-07-06 00:00:00  1162.0  1164.0  1051.0  1131.0    13941.0
144  2018-07-05 00:00:00  1196.0  1213.0  1128.0  1162.0    10315.0
145  2018-07-04 00:00:00  1192.0  1255.0  1176.0  1196.0    11625.0
146  2018-07-03 00:00:00  1217.0  1280.0  1187.0  1192.0    11205.0
147  2018-07-02 00:00:00  1173.0  1249.0  1164.0  1217.0    12703.0
148  2018-07-01 00:00:00  1189.0  1191.0  1159.0  1173.0     3582.0
149  2018-06-30 00:00:00  1168.0  1243.0  1159.0  1189.0    10404.0
150  2018-06-29 00:00:00  1126.0  1205.0  1117.0  1168.0     9070.0
151  2018-06-28 00:00:00  1178.0  1179.0  1111.0  1126.0     1326.0
152  2018-06-27 00:00:00  1155.0  1183.0  1148.0  1178.0      763.0
153  2018-06-26 00:00:00  1218.0  1218.0  1154.0  1155.0      833.0
154  2018-06-25 00:00:00  1223.0  1256.0  1210.0  1218.0      664.0
155  2018-06-24 00:00:00  1249.0  1254.0  1151.0  1223.0      936.0
156  2018-06-23 00:00:00  1261.0  1300.0  1239.0  1249.0      616.0
157  2018-06-22 00:00:00  1322.0  1322.0  1231.0  1261.0     1025.0
158  2018-06-21 00:00:00  1337.0  1353.0  1317.0  1322.0      515.0
159  2018-06-20 00:00:00  1377.0  1378.0  1316.0  1337.0      155.0
160  2018-06-19 00:00:00  1389.0  1412.0  1377.0  1377.0      118.0

[161 rows x 6 columns]

# Fix the contract unit issue - 11-27 evening

In [4]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import psycopg2

# %matplotlib inline

# Extract all daily digital currency data from SQL database:
def all_assts_from_sql(asst1, asst2, asst3, asst4, asst5, asst6, asst7, asst8, sql_limit_num, location, till_date):
    conn = psycopg2.connect(database="bitmexdata", user="postgres", password="tongKen123", host="128.199.97.202", port="5432")
    asset1 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst1, sql_limit_num)
    asset2 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst2, sql_limit_num)
    asset3 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst3, sql_limit_num)
    asset4 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst4, sql_limit_num)
    asset5 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst5, sql_limit_num)
    asset6 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst6, sql_limit_num)
    asset7 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst7, sql_limit_num)
    asset8 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst8, sql_limit_num)
    df1 = pd.read_sql(asset1, con=conn)
    df2 = pd.read_sql(asset2, con=conn)
    df3 = pd.read_sql(asset3, con=conn)
    df4 = pd.read_sql(asset4, con=conn)
    df5 = pd.read_sql(asset5, con=conn)
    df6 = pd.read_sql(asset6, con=conn)
    df7 = pd.read_sql(asset7, con=conn)
    df8 = pd.read_sql(asset8, con=conn)
    conn.close()
#     return df1, df2, df3, df4, df5, df6, df7, df8
    df1.to_csv(location+"{}".format(till_date)+asst1+".csv", index = False)
    df2.to_csv(location+"{}".format(till_date)+asst2+".csv", index = False)
    df3.to_csv(location+"{}".format(till_date)+asst3+".csv", index = False)
    df4.to_csv(location+"{}".format(till_date)+asst4+".csv", index = False)
    df5.to_csv(location+"{}".format(till_date)+asst5+".csv", index = False)
    df6.to_csv(location+"{}".format(till_date)+asst6+".csv", index = False)
    df7.to_csv(location+"{}".format(till_date)+asst7+".csv", index = False)
    df8.to_csv(location+"{}".format(till_date)+asst8+".csv", index = False)

# standardize and reset the price:
# file_suffix example: 'z18_1d.csv'
# added_note example: 'u18z18乘'
# till_date example: '11_10_'
def reset_price(location, till_date, file_suffix, added_note):

    symlist = ['ada', 'bch', 'eth', 'eos', 'trx', 'xrp', 'ltc']

    for s in symlist:
#         if s == 'ada':
#             c = 100000
#         elif s == 'bch':
#             c = 10000
#         elif s == 'eos':
#             c = 1000000
#         elif s == 'eth':
#             c = 100000
#         elif s == 'ltc':
#             c = 100000
#         elif s == 'trx':
#             c = 100000000
#         elif s == 'xrp':
#             c = 10000000
        
#         b = pd.read_csv(location + till_date + s + file_suffix,header=None)
        c = 100000
        b = pd.read_csv(location + "{}".format(till_date) + s + file_suffix + ".csv")
        b.iloc[:, [1, 2, 3, 4]] = b.iloc[:, [1, 2, 3, 4]].astype(float)
        b.iloc[:, [1, 2, 3, 4]] = (b.iloc[:, [1, 2, 3, 4]]) * c
        b.to_csv(location + 'res_' + till_date + s + added_note + str(c) + '.csv',
                 sep=',', header=False, index=False, float_format='%.2f')

location = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracing_and_transforming_data/"
till_date = "11_28_"
frequency = "_1d"
file_suffix = 'u18z18'+frequency
added_note = 'u18z18乘'

all_assts_from_sql("ada"+file_suffix, "bch"+file_suffix, "eos"+file_suffix,
                   "eth"+file_suffix, "ltc"+file_suffix, "trx"+file_suffix,
                   "xbtusd"+frequency, "xrp"+file_suffix, 1000,
                   "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracing_and_transforming_data/",
                   till_date)

reset_price(location, till_date, file_suffix, added_note)

ada_df = pd.read_csv(location + "res_"+till_date+"ada"+added_note+"100000.csv", engine="python", header=None)
bch_df = pd.read_csv(location + "res_"+till_date+"bch"+added_note+"100000.csv", engine="python", header=None)
eos_df = pd.read_csv(location + "res_"+till_date+"eos"+added_note+"100000.csv", engine="python", header=None)
eth_df = pd.read_csv(location + "res_"+till_date+"eth"+added_note+"100000.csv", engine="python", header=None)
ltc_df = pd.read_csv(location + "res_"+till_date+"ltc"+added_note+"100000.csv", engine="python", header=None)
trx_df = pd.read_csv(location + "res_"+till_date+"trx"+added_note+"100000.csv", engine="python", header=None)
xrp_df = pd.read_csv(location + "res_"+till_date + "xrp"+added_note+"100000.csv", engine="python", header=None)
btc_df = pd.read_csv(location + till_date + "xbtusd" +frequency +".csv", engine="python", header = None)
btc_df = btc_df.iloc[1:, :]
btc_df.to_csv(location + "res_" + till_date + "xbtusd"+frequency +".csv",
                 sep=',', header=False, index=False, float_format='%.2f')
btc_df = pd.read_csv(location + "res_" + till_date + "xbtusd"+frequency +".csv", engine="python", header=None)

In [19]:
btc_df

                       0        1        2        3        4             5
0    2018-11-26 00:00:00  3930.50  4080.00  3492.00  3724.50  3.724731e+09
1    2018-11-25 00:00:00  3768.50  4120.00  3430.00  3930.50  3.937118e+09
2    2018-11-24 00:00:00  4283.00  4378.00  3627.00  3768.50  2.444429e+09
3    2018-11-23 00:00:00  4266.50  4382.00  4068.00  4283.00  2.602831e+09
4    2018-11-22 00:00:00  4537.00  4598.00  4235.50  4266.50  1.921804e+09
5    2018-11-21 00:00:00  4348.50  4654.00  4229.00  4537.00  3.428477e+09
6    2018-11-20 00:00:00  4743.00  4897.00  4010.00  4348.50  6.489035e+09
7    2018-11-19 00:00:00  5556.00  5557.00  4665.00  4743.00  5.232597e+09
8    2018-11-18 00:00:00  5501.50  5690.00  5501.50  5556.00  9.357287e+08
9    2018-11-17 00:00:00  5511.00  5557.00  5450.50  5501.50  8.540010e+08
10   2018-11-16 00:00:00  5581.00  5619.00  5406.00  5511.00  1.716662e+09
11   2018-11-15 00:00:00  5586.00  5639.50  5181.00  5581.00  3.649588e+09
12   2018-11-14 00:00:00  6249.00  6296.00  5231.00  5586.00  5.165121e+09
13   2018-11-13 00:00:00  6337.50  6338.00  6235.00  6249.00  1.366234e+09
14   2018-11-12 00:00:00  6361.00  6406.00  6305.50  6337.50  9.767818e+08
15   2018-11-11 00:00:00  6353.50  6380.00  6260.00  6361.00  7.694614e+08
16   2018-11-10 00:00:00  6338.50  6379.00  6334.50  6353.50  4.639148e+08
17   2018-11-09 00:00:00  6414.00  6420.50  6310.00  6338.50  1.238135e+09
18   2018-11-08 00:00:00  6510.50  6524.00  6372.50  6414.00  1.340385e+09
19   2018-11-07 00:00:00  6450.50  6568.00  6434.50  6510.50  1.199490e+09
20   2018-11-06 00:00:00  6404.00  6460.00  6387.00  6450.50  1.009690e+09
21   2018-11-05 00:00:00  6427.50  6445.50  6380.00  6404.00  6.806114e+08
22   2018-11-04 00:00:00  6332.50  6471.00  6322.50  6427.50  1.079191e+09
23   2018-11-03 00:00:00  6346.00  6348.50  6316.50  6332.50  4.185182e+08
24   2018-11-02 00:00:00  6337.00  6387.00  6328.00  6346.00  7.798174e+08
25   2018-11-01 00:00:00  6307.00  6370.00  6302.00  6337.00  5.276641e+08
26   2018-10-31 00:00:00  6272.00  6345.00  6210.00  6307.00  1.038552e+09
27   2018-10-30 00:00:00  6266.50  6294.00  6255.00  6272.00  6.212474e+08
28   2018-10-29 00:00:00  6408.00  6415.50  6209.00  6266.50  1.481207e+09
29   2018-10-28 00:00:00  6407.00  6449.00  6382.50  6408.00  3.821801e+08
..                   ...      ...      ...      ...      ...           ...
970  2016-03-31 00:00:00   412.09   416.75   412.08   415.49  2.779380e+05
971  2016-03-30 00:00:00   414.58   414.99   408.62   412.09  2.716400e+05
972  2016-03-29 00:00:00   422.46   425.09   406.90   414.58  5.541140e+05
973  2016-03-28 00:00:00   425.50   427.76   421.73   422.46  5.002860e+05
974  2016-03-27 00:00:00   416.50   433.97   415.82   425.50  1.055387e+06
975  2016-03-26 00:00:00   415.82   418.40   413.45   416.50  2.146100e+05
976  2016-03-25 00:00:00   415.67   416.84   410.88   415.82  2.987900e+05
977  2016-03-24 00:00:00   416.57   418.36   412.41   415.67  3.759170e+05
978  2016-03-23 00:00:00   416.99   419.00   414.55   416.57  4.405620e+05
979  2016-03-22 00:00:00   412.25   417.77   411.18   416.99  2.335300e+05
980  2016-03-21 00:00:00   412.24   412.25   407.53   412.25  2.399950e+05
981  2016-03-20 00:00:00   409.25   412.55   406.81   412.24  2.589570e+05
982  2016-03-19 00:00:00   408.68   409.81   403.68   409.25  3.169650e+05
983  2016-03-18 00:00:00   419.20   418.60   402.49   408.68  4.060580e+05
984  2016-03-17 00:00:00   416.86   419.46   417.00   419.20  1.245190e+05
985  2016-03-16 00:00:00   415.53   417.73   413.47   416.86  1.187700e+05
986  2016-03-15 00:00:00   415.68   418.05   413.25   415.53  1.688340e+05
987  2016-03-14 00:00:00   412.58   416.01   412.58   415.68  1.537060e+05
988  2016-03-13 00:00:00   411.40   416.17   411.17   412.58  1.476410e+05
989  2016-03-12 00:00:00   421.87   421.96   407.23   411.40  8.782040e+05
990  2016-03-11 00:00:00   418.03   423.48   416.61   421.87  6.488010e+05
991  2016-03-10 00:00:00   413.64   418.08   411.06   418.03  3.162410e+05
992  2016-03-09 00:00:00   412.49   414.15   408.10   413.64  2.182860e+05
993  2016-03-08 00:00:00   412.92   415.24   409.02   412.49  2.602920e+05
994  2016-03-07 00:00:00   404.08   414.58   402.28   412.92  5.509350e+05
995  2016-03-06 00:00:00   398.01   410.38   392.76   404.08  5.077080e+05
996  2016-03-05 00:00:00   408.68   410.03   390.08   398.01  1.053709e+06
997  2016-03-04 00:00:00   419.99   423.33   407.35   408.68  7.347580e+05
998  2016-03-03 00:00:00   423.80   424.01   417.80   419.99  6.526350e+05
999  2016-03-02 00:00:00   433.55   435.53   421.92   423.80  5.845750e+05

[1000 rows x 6 columns]

In [21]:
# OG 乘数version:

import pandas as pd, numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import psycopg2

# %matplotlib inline

# Extract all daily digital currency data from SQL database:
def all_assts_from_sql(asst1, asst2, asst3, asst4, asst5, asst6, asst7, asst8, sql_limit_num, location, till_date):
    conn = psycopg2.connect(database="bitmexdata", user="postgres", password="tongKen123", host="128.199.97.202", port="5432")
    asset1 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst1, sql_limit_num)
    asset2 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst2, sql_limit_num)
    asset3 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst3, sql_limit_num)
    asset4 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst4, sql_limit_num)
    asset5 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst5, sql_limit_num)
    asset6 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst6, sql_limit_num)
    asset7 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst7, sql_limit_num)
    asset8 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst8, sql_limit_num)
    df1 = pd.read_sql(asset1, con=conn)
    df2 = pd.read_sql(asset2, con=conn)
    df3 = pd.read_sql(asset3, con=conn)
    df4 = pd.read_sql(asset4, con=conn)
    df5 = pd.read_sql(asset5, con=conn)
    df6 = pd.read_sql(asset6, con=conn)
    df7 = pd.read_sql(asset7, con=conn)
    df8 = pd.read_sql(asset8, con=conn)
    conn.close()
#     return df1, df2, df3, df4, df5, df6, df7, df8
    df1.to_csv(location+"{}".format(till_date)+asst1+".csv", index = False)
    df2.to_csv(location+"{}".format(till_date)+asst2+".csv", index = False)
    df3.to_csv(location+"{}".format(till_date)+asst3+".csv", index = False)
    df4.to_csv(location+"{}".format(till_date)+asst4+".csv", index = False)
    df5.to_csv(location+"{}".format(till_date)+asst5+".csv", index = False)
    df6.to_csv(location+"{}".format(till_date)+asst6+".csv", index = False)
    df7.to_csv(location+"{}".format(till_date)+asst7+".csv", index = False)
    df8.to_csv(location+"{}".format(till_date)+asst8+".csv", index = False)

# standardize and reset the price:
# file_suffix example: 'z18_1d.csv'
# added_note example: 'u18z18乘'
# till_date example: '11_10_'
def reset_price(location, till_date, file_suffix, added_note):

    symlist = ['ada', 'bch', 'eth', 'eos', 'trx', 'xrp', 'ltc']

    for s in symlist:
        if s == 'ada':
            c = 10000000
        elif s == 'bch':
            c = 1000
        elif s == 'eos':
            c = 100000
        elif s == 'eth' or s == 'ltc':
            c = 10000
        elif s == 'trx':
            c = 100000000
        elif s == 'xrp':
            c = 10000000
        
#         b = pd.read_csv(location + till_date + s + file_suffix,header=None)
        b = pd.read_csv(location + "{}".format(till_date) + s + file_suffix + ".csv")
        b.iloc[:, [1, 2, 3, 4]] = b.iloc[:, [1, 2, 3, 4]].astype(float)
        b.iloc[:, [1, 2, 3, 4]] = (b.iloc[:, [1, 2, 3, 4]]) * c
        b.to_csv(location + 'res_' + till_date + s + added_note + str(c) + '.csv',
                 sep=',', header=False, index=False, float_format='%.2f')

location = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracing_and_transforming_data/"
till_date = "11_28_og_"
frequency = "_1d"
file_suffix = 'u18z18'+frequency
added_note = 'u18z18乘'

all_assts_from_sql("ada"+file_suffix, "bch"+file_suffix, "eos"+file_suffix,
                   "eth"+file_suffix, "ltc"+file_suffix, "trx"+file_suffix,
                   "xbtusd"+frequency, "xrp"+file_suffix, 1000,
                   "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracing_and_transforming_data/",
                   till_date)

reset_price(location, till_date, file_suffix, added_note)

ada_df = pd.read_csv(location + "res_"+till_date+"ada"+added_note+"10000000.csv", engine="python", header=None)
bch_df = pd.read_csv(location + "res_"+till_date+"bch"+added_note+"1000.csv", engine="python", header=None)
eos_df = pd.read_csv(location + "res_"+till_date+"eos"+added_note+"100000.csv", engine="python", header=None)
eth_df = pd.read_csv(location + "res_"+till_date+"eth"+added_note+"10000.csv", engine="python", header=None)
ltc_df = pd.read_csv(location + "res_"+till_date+"ltc"+added_note+"10000.csv", engine="python", header=None)
trx_df = pd.read_csv(location + "res_"+till_date+"trx"+added_note+"100000000.csv", engine="python", header=None)
xrp_df = pd.read_csv(location + "res_"+till_date + "xrp"+added_note+"10000000.csv", engine="python", header=None)
btc_df = pd.read_csv(location + till_date + "xbtusd" +frequency +".csv", engine="python", header = None)
btc_df = btc_df.iloc[1:, :]
btc_df.to_csv(location + "res_" + till_date + "xbtusd"+frequency +".csv",
                 sep=',', header=False, index=False, float_format='%.2f')
btc_df = pd.read_csv(location + "res_" + till_date + "xbtusd"+frequency +".csv", engine="python", header=None)