In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

%matplotlib inline

In [10]:
root = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/reports/TB回测交易记录/"
perf = "12_5_TB_brad_2_pairs_TB_trade_analysis.csv"
perf = pd.read_csv(root+perf, engine="python")

In [11]:
perf.columns = ['strat', 'position_direction', 'asset', 'entry_date', 'entry_price', 'exit_date', 'exit_price', 'qty', 'trade_costs', 'net_gains', 'cum_gains',
       'returns', 'cum_returns']

In [13]:
perf.head()

,strat,position_direction,asset,entry_date,entry_price,exit_date,exit_price,qty,trade_costs,net_gains,cum_gains,returns,cum_returns
0,MA_Relative_Ranking_OGNew_11_26,空头,DBCH,2018-7-9,1126.0,2018-7-10,1115.0,621,3875.66,2955.34,2955.34,262.46%,262.46%
1,MA_Relative_Ranking_OGNew_11_26,多头,DLTC,2018-7-9,1226.0,2018-7-10,1216.0,570,3671.94,-9371.94,-6416.60,-764.43%,-501.97%
2,MA_Relative_Ranking_OGNew_11_26,空头,DEOS,2018-7-5,1363.7,2018-7-11,1136.7,513,1487.91,114963.09,108546.49,8430.23%,7928.26%
3,MA_Relative_Ranking_OGNew_11_26,多头,DTRX,2018-7-5,594.0,2018-7-11,545.0,1178,6053.74,-63775.74,44770.75,-10736.66%,-2808.39%
4,MA_Relative_Ranking_OGNew_11_26,空头,DLTC,2018-7-10,1216.0,2018-7-13,1243.0,575,3713.93,-19238.92,25531.83,-1582.15%,-4390.54%

# Create a function that transforms the raw data table

In [14]:
def transform(perf):
    new_df = pd.DataFrame([])
    new_df["date"] = perf['entry_date']
    new_df['strat'] = perf['strat']
    new_df['asset'] = perf['asset']
    new_df['entry_date'] = perf['entry_date']
    new_df['entry_price'] = perf['entry_price']
    new_df['qty'] = perf['qty']
    new_df['pos_dirctn'] = perf['position_direction']
    
    all_dates = list(perf['entry_date'].append(perf['exit_date']))
    all_strats = list(perf['strat'].append(perf['strat']))
    all_assets = list(perf['asset'].append(perf['asset']))
    all_qty = list(perf['qty'].append(perf['qty']))
    all_pos_dirctn = list(perf['position_direction'].append(perf['position_direction']))
    all_exit_price = perf['exit_price']
    
    new_df = pd.DataFrame([])
    new_df['all_dates'] = all_dates
    new_df['all_strats'] = all_strats
    new_df['assets'] = all_assets
    new_df['pos_dirctn'] = all_pos_dirctn
    new_df['qty'] = all_qty
    
    new_df['entry_price'] = perf['entry_price']
    new_df['exit_price'] = ''
    new_df['exit_price'][len(perf):] = all_exit_price
    
    new_df['all_dates'] = pd.to_datetime(new_df['all_dates'])
    new_df.sort_values('all_dates', inplace=True)
    new_df.fillna("", inplace=True)
    new_df['all_dates'] = new_df['all_dates'].astype(str)
    
    return new_df

In [15]:
new_df = transform(perf)

C:\Users\Brad Sun\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
new_df.head()

,all_dates,all_strats,assets,pos_dirctn,qty,entry_price,exit_price
2,2018-07-05,MA_Relative_Ranking_OGNew_11_26,DEOS,空头,513,1363.7,
3,2018-07-05,MA_Relative_Ranking_OGNew_11_26,DTRX,多头,1178,594,
0,2018-07-09,MA_Relative_Ranking_OGNew_11_26,DBCH,空头,621,1126,
1,2018-07-09,MA_Relative_Ranking_OGNew_11_26,DLTC,多头,570,1226,
4,2018-07-10,MA_Relative_Ranking_OGNew_11_26,DLTC,空头,575,1216,

In [23]:
new_df[(new_df['all_dates']>'2018-09-20')&(new_df['all_dates']<'2018-10-02')]

,all_dates,all_strats,assets,pos_dirctn,qty,entry_price,exit_price
79,2018-09-21,MA_Relative_Ranking_OGNew_11_26,DEOS,多头,754,927.4,
215,2018-09-21,MA_Relative_Ranking_OGNew_11_26,DTRX,多头,2114,,378
214,2018-09-21,MA_Relative_Ranking_OGNew_11_26,DEOS,空头,786,,927.4
78,2018-09-21,MA_Relative_Ranking_OGNew_11_26,DTRX,空头,1849,378,
217,2018-09-24,MA_Relative_Ranking_OGNew_11_26,DBCH,多头,1002,,703
216,2018-09-24,MA_Relative_Ranking_OGNew_11_26,DLTC,空头,852,,884
74,2018-09-24,MA_Relative_Ranking_OGNew_11_26,DBCH,空头,995,703,
75,2018-09-24,MA_Relative_Ranking_OGNew_11_26,DLTC,多头,792,884,
76,2018-09-25,MA_Relative_Ranking_OGNew_11_26,DLTC,空头,780,897,
77,2018-09-25,MA_Relative_Ranking_OGNew_11_26,DBCH,多头,1005,696,
219,2018-09-25,MA_Relative_Ranking_OGNew_11_26,DLTC,多头,792,,897
218,2018-09-25,MA_Relative_Ranking_OGNew_11_26,DBCH,空头,995,,696
82,2018-09-26,MA_Relative_Ranking_OGNew_11_26,DBCH,空头,874,800,
83,2018-09-26,MA_Relative_Ranking_OGNew_11_26,DLTC,多头,784,892,
221,2018-09-26,MA_Relative_Ranking_OGNew_11_26,DBCH,多头,1005,,800
220,2018-09-26,MA_Relative_Ranking_OGNew_11_26,DLTC,空头,780,,892
223,2018-09-27,MA_Relative_Ranking_OGNew_11_26,DEOS,多头,754,,881.1
222,2018-09-27,MA_Relative_Ranking_OGNew_11_26,DTRX,空头,1849,,342
80,2018-09-27,MA_Relative_Ranking_OGNew_11_26,DEOS,空头,794,881.1,
81,2018-09-27,MA_Relative_Ranking_OGNew_11_26,DTRX,多头,2046,342,