In [1]:
import pandas as pd, numpy as np

In [60]:
location = 'C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/strats/crypto_new_strats_1_15_2019/'

In [61]:
file1 = "res_btcusdt_15m.csv"
file2 = "res_eosbtc_15m.csv"
file3 = "res_ethbtc_15m.csv"

In [73]:
btcusdt = pd.read_csv(location+file1, header=None)
eosbtc = pd.read_csv(location+file2, header=None)
ethbtc = pd.read_csv(location+file3, header=None)

In [74]:
btcusdt.head(3)

                     0         1         2         3         4             5
0  2017-12-08 00:00:00  15403.93  15879.37  15403.92  15878.52  1.835196e+06
1  2017-12-08 00:15:00  15878.53  15888.00  15730.51  15807.77  3.995312e+06
2  2017-12-08 00:30:00  15807.77  15810.02  15398.01  15582.99  4.608830e+06

In [ ]:
btcusdt

In [120]:
btcusdt[btcusdt['2019-01-01 02:45:00''2019-01-01 07:00:00']]

SyntaxError: invalid syntax (<ipython-input-120-fbd7661f75dd>, line 1)

In [75]:
eosbtc.head(3)

                     0         1         2         3         4          5
0  2017-12-08 00:00:00  0.000233  0.000245  0.000233  0.000233   9.574111
1  2017-12-08 00:15:00  0.000239  0.000250  0.000230  0.000240  13.607629
2  2017-12-08 00:30:00  0.000240  0.000245  0.000231  0.000243  14.306783

In [76]:
ethbtc.head(3)

                     0         1         2         3         4          5
0  2017-12-08 00:00:00  0.026218  0.026218  0.025571  0.025574   9.335432
1  2017-12-08 00:15:00  0.025574  0.025741  0.025100  0.025205  18.530062
2  2017-12-08 00:30:00  0.025205  0.026457  0.025205  0.025826  16.680370

In [66]:
# 1000000/btcusdt
btcusdt.min()

0    2017-12-08 00:00:00
1                3165.59
2                3174.54
3                   3155
4                3165.57
5                      0
dtype: object

In [67]:
# 1000000*eosbtc
eosbtc.min()

0    2017-12-08 00:00:00
1             0.00022002
2             0.00022152
3               0.000212
4             0.00022002
5                      0
dtype: object

In [68]:
# 1000000*ethbtc
ethbtc.min()

0    2017-12-08 00:00:00
1               0.023629
2               0.023761
3                 0.0234
4                0.02358
5                      0
dtype: object

In [77]:
# btc
btcusdt_cols = 1000000/btcusdt[[1, 2, 3, 4]]
btcusdt[[1, 2, 3, 4]] = btcusdt_cols.round(2)
btcusdt.head(2)

                     0      1      2      3      4             5
0  2017-12-08 00:00:00  64.92  62.97  64.92  62.98  1.835196e+06
1  2017-12-08 00:15:00  62.98  62.94  63.57  63.26  3.995312e+06

In [78]:
# eos
eosbtc_cols = 1000000*eosbtc[[1, 2, 3, 4]]
eosbtc[[1, 2, 3, 4]] = eosbtc_cols
eosbtc.head(2)

                     0       1      2      3       4          5
0  2017-12-08 00:00:00  233.33  245.0  233.0  233.39   9.574111
1  2017-12-08 00:15:00  239.40  249.7  230.0  240.00  13.607629

In [79]:
# eth
ethbtc_cols = 1000000*ethbtc[[1, 2, 3, 4]]
ethbtc[[1, 2, 3, 4]] = ethbtc_cols
ethbtc.head(2)

                     0        1        2        3        4          5
0  2017-12-08 00:00:00  26218.0  26218.0  25571.0  25574.0   9.335432
1  2017-12-08 00:15:00  25574.0  25741.0  25100.0  25205.0  18.530062

In [89]:
btcusdt.sort_values(0, ascending=False, inplace=True)
ethbtc.sort_values(0, ascending=False, inplace=True)
eosbtc.sort_values(0, ascending=False, inplace=True)

In [96]:
btcusdt[0] = pd.to_datetime(btcusdt[0])
ethbtc[0] = pd.to_datetime(ethbtc[0])
eosbtc[0] = pd.to_datetime(eosbtc[0])

In [114]:
btcusdt.to_csv(location+"res_btc_contract_15m.csv", index = False, header = None)
ethbtc.to_csv(location+"res_eth_contract_15m.csv", index = False, header = None)
eosbtc.to_csv(location+"res_eos_contract_15m.csv", index = False, header = None)

In [121]:
btcusdt_res = pd.read_csv(location+"res_btc_contract_15m.csv", header =None)
ethbtc_res = pd.read_csv(location+"res_eth_contract_15m.csv", header = None)
eosbtc_res = pd.read_csv(location+"res_eos_contract_15m.csv", header = None)

In [122]:
btcusdt_res.head()

                     0       1       2       3       4              5
0  2019-01-15 12:15:00  275.81  275.81  275.96  275.91  134824.040254
1  2019-01-15 12:00:00  275.67  275.64  275.71  275.64   22720.846141
2  2019-01-15 11:45:00  275.84  275.84  276.04  276.01  261456.460720
3  2019-01-15 11:30:00  275.83  275.82  275.92  275.84  105771.042602
4  2019-01-15 11:15:00  275.88  275.61  275.92  275.71   92272.268498

In [123]:
ethbtc_res.head()

                     0        1        2        3        4          5
0  2019-01-15 12:15:00  34887.0  34906.0  34843.0  34906.0  50.318851
1  2019-01-15 12:00:00  34951.0  34973.0  34871.0  34872.0  31.510816
2  2019-01-15 11:45:00  35003.0  35007.0  34947.0  34960.0  47.748581
3  2019-01-15 11:30:00  35018.0  35018.0  34938.0  34980.0  48.826291
4  2019-01-15 11:15:00  35121.0  35121.0  34800.0  35013.0  77.083462

In [124]:
eosbtc_res.head(5)

                     0       1       2       3       4          5
0  2019-01-15 12:15:00  664.33  665.14  663.88  665.14  38.050172
1  2019-01-15 12:00:00  664.51  664.84  664.00  664.70  42.793928
2  2019-01-15 11:45:00  666.60  666.75  664.57  664.82  49.891890
3  2019-01-15 11:30:00  666.09  666.91  665.66  666.54  35.377339
4  2019-01-15 11:15:00  665.19  665.91  664.86  665.91  48.494348